@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: #0d111f;
  --primary: #626262;
  --secondary: #e94e47;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
a{
  font-size: 18px;
}
.navbar{
  padding: 1.2rem;
  height: auto;
}
.navbar__logo{
  width: 40px;
  height: 40px;
}
.navbar__title{
  font-size: 30px;
}
.navbar__items{
  gap: 14px;
}
.button {
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 6px;
  animation: ease-in-out;
}
.button:hover {
  scale: 1.03;
  transition: 300ms;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  width: 400px;
}
.or--btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-120%, -50%);
  width: 150px;
  height: 0.5px;
  background-color: #3e4a6c;
}
.or--btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(120%, -50%);
  width: 150px;
  height: 0.5px;
  background-color: #3e4a6c;
}
.mouse--follower {
  position: absolute;
  z-index: 999;
  pointer-events: none;
}
.menu--area {
  width: 300px;
  height: 350px;
  background-color: #20293a;
  position: fixed;
  top: 30px;
  right: 10px;
  border-radius: 10px;
  border: 1px solid #525869;
}
.mobile--link {
  color: #9ca3af;
  font-weight: 700;
}
.sub--heading {
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #3e4a6c;
}
.sub--para {
  font-size: 14px;
}
.command {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
.copy--message {
  pointer-events: none;
}
.docs--link {
  padding: 6px 30px;
  border-left: 2px solid #eee;
}
.docs--link:hover {
  border-left: 2px solid rgba(166, 166, 166, 0.58);
  color: #3a3a3a;
}
.active {
  font-weight: 500;
  color: var(--secondary);
  border-left: 2px solid var(--secondary);
  padding: 6px 30px;
}
del {
  text-decoration: line-through;
  text-decoration-color: #e94e47;
}
.button{
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 6px;
  animation: ease-in-out;
  background-color: var(--secondary);
  color: #fff;
  border: 0;
}
.button:hover{
  scale: 1.03;
  transition: 300ms;
  color: #fff;
}

/*Footer*/
.footer__copyright{
  border-top: 0.4px solid #000;
  padding-top: 30px;
}



/*Responsive*/

@media screen and (max-width: 991px){
  .home--section--img{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .object-contain{
    width: 70vw;
  }
  .home--section--img > img{
    width: 70vw;
  }
  .what--does--it--do{
    padding-inline: 100px;
  }
  .home--section--main--img{
    width: 80vw;
  }
  .home--page--two--img{
    flex-direction: column;
    gap: 40px;
  }
  .home--page--two--img > div{
    width: 80vw;
  }
  .section--heading--div{
    width: 100vw;
  }
  .section--heading--span {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .what--does--it--do--subPart{
    flex-direction: column;
  }
  .home--section--main--img{
    width: 90vw;
    border-radius: 20px;
  }
}
@media (max-width: 640px) {
  .section--heading{
    font-size: 3.2rem;
  }
  .section--para{
    font-size: 14px;
  }
  .object-contain{
    width: 90vw !important;
  }
  .developer--list{
    gap: 20px;
  }
  .what--does--it--do{
    padding-inline: 20px;
  }
  .what--we--do--img--container{
    width: 80vw;
  }
  .connection--heading{
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .section--heading{
    font-size: 2.4rem;
    line-height: 2.7rem;
  }
  .section--para{
    font-size: 12px;
  }
  input{
    width: 300px;
  }
  .or--btn::before, .or--btn::after{
    width: 100px;
  }
  .form--area{
    width: auto;
  }
  .home--section--main--img{
    width: 96vw;
    border-radius: 20px;
  }
  .section--heading--span > h1{
    font-weight: 600;
    font-size: 1.8rem;
  }
}



/*USELESS CODE*/
svg{
  display: none;
}
.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module{
  width: 0;
  height: 0;
}